extends blocks/base.pug

block title 
	title Главная

block style-libs
	link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")

block content

	.page

		include blocks/header.pug
		
		.content

			// welcome
			.welcome
				.welcome__slider#welcomeSlider
					.swiper-wrapper
						.swiper-slide
							picture.welcome__img
								source(srcset="img/welcome_1-1920.webp 1x, img/welcome_1-1920_2x.webp 2x" media="(min-width: 1440px)")
								source(srcset="img/welcome_1-1440.webp 1x, img/welcome_1-1440_2x.webp 2x" media="(min-width: 1000px)")
								source(srcset="img/welcome_1-1000.webp 1x, img/welcome_1-1000_2x.webp 2x" media="(max-width: 1000px)")
								img(src="img/welcome_1-1920.webp", alt="")
							.wrapper
								.container
									.welcome__content 
										.welcome__title 
											span.color-special Special 
											| ANALOG RCA
										.welcome__text Силовой кабель класса High End. Играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям
										a(href="#").welcome__link Подробности
						.swiper-slide
							picture.welcome__img
								source(srcset="img/welcome_2-1920.webp 1x, img/welcome_2-1920_2x.webp 2x")
								img(src="img/welcome_2-1920.webp", alt="")
							.wrapper
								.container
									.welcome__content 
										.welcome__title 
											span.color-standard StandarD 
											| ANALOG RCA
										.welcome__text Силовой кабель класса High End. Играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям
										a(href="#").welcome__link Подробности
						.swiper-slide
							picture.welcome__img
								source(srcset="img/welcome_1-1920.webp 1x, img/welcome_1-1920_2x.webp 2x" media="(min-width: 1440px)")
								source(srcset="img/welcome_1-1440.webp 1x, img/welcome_1-1440_2x.webp 2x" media="(min-width: 1000px)")
								source(srcset="img/welcome_1-1000.webp 1x, img/welcome_1-1000_2x.webp 2x" media="(max-width: 1000px)")
								img(src="img/welcome_1-1920.webp", alt="")
							.wrapper
								.container
									.welcome__content 
										.welcome__title 
											span.color-special Special 
											| ANALOG RCA
										.welcome__text Силовой кабель класса High End. Играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям
										a(href="#").welcome__link Подробности
					.welcome__buttons
						.container
							.swiper-button-prev.welcome__button.welcome__button--prev
								svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
									g(clip-path="url(#clip0_756_109)")
										path(d="M20.7129 32.2871L7.32476 16.1423L20.7129 -0.00253202" stroke="white" stroke-width="4" stroke-linecap="square")
									defs
										clipPath(id="clip0_756_109")
											rect(width="32" height="32" fill="white" transform="translate(32 32) rotate(-180)")
							.swiper-button-next.welcome__button.welcome__button--next
								svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
									g(clip-path="url(#clip0_756_111)")
										path(d="M11.2871 -0.287109L24.6752 15.8577L11.2871 32.0025" stroke="white" stroke-width="4" stroke-linecap="square")
									defs
										clipPath(id="clip0_756_111")
											rect(width="32" height="32" fill="white")
			//	/welcome

			.wrapper 	
				.container

					// descript
					section.descript
						h1.title Производится в России с 2001
						p С момента выхода на рынок в 2002 году марка Tchernov Cable практически сразу встала в один ряд с ведущими мировыми производителями специализированной кабельной продукции для аудио-видео. Сегодня мы предлагаем широкий спектр проводов и кабелей как бытового, так и профессионального назначения для любых видов инсталляций. Наша продукция продолжает завоёвывать новые рынки: неуклонно растёт число наших дистрибьюторов в мире и все больше любителей хорошего звука во многих странах делают свой выбор в пользу Tchernov Cable.
					//	/descript

					// lines
					section.lines
						h2.title Линейки продуктов
						p.lines__text В изделиях Tchernov Cable используется самое качественное сырьё, материалы и комплектующие
						#linesSlider.lines__slider
							.row.swiper-wrapper
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture 
											source(srcset="img/lines-standart.webp 1x, img/lines-standart_2x.webp 2x")
											img(src="img/lines-standart.webp", alt="").lines__img
										lines-standart_2x.webp
										.lines__title.color-standard Standard
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture
											source(srcset="img/lines-special.webp 1x, img/lines-special_2x.webp 2x")
											img(src="img/lines-special.webp", alt="").lines__img
										.lines__title.color-special Special
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture 
											source(srcset="img/lines-classic.webp 1x, img/lines-classic_2x.webp 2x")
											img(src="img/lines-classic.webp", alt="").lines__img
										.lines__title.color-classic Classic
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture 
											source(srcset="img/lines-reference.webp 1x, img/lines-reference_2x.webp 2x")
											img(src="img/lines-reference.webp", alt="").lines__img
										.lines__title.color-reference Reference
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture 
											source(srcset="img/lines-ultimate.webp 1x, img/lines-ultimate_2x.webp 2x")
											img(src="img/lines-ultimate.webp", alt="").lines__img
										.lines__title.color-ultimate Ultimate
								.lines__col.swiper-slide
									a(href="#").lines__card 
										picture 
											source(srcset="img/lines-pro.webp 1x, img/lines-pro_2x.webp 2x")
											img(src="img/lines-pro.webp", alt="").lines__img
										.lines__title.color-pro Pro
					//	/lines

					// types
					section.types
						h2.title Типы кабеля
						p.types__text Все конструкции Tchernov Cable с медными токопроводящими жилами и экранами — наши собственные разработки
						#typesSlider.types__slider
							.row.swiper-wrapper
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-digital.webp 1x, img/cable-digital_2x.webp 2x")
												img(src="img/cable-digital.webp", alt="")
										.types__title Аналоговые <br>межкомпонентные кабели
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-dimmer.webp 1x, img/cable-dimmer_2x.webp 2x")
												img(src="img/cable-dimmer.webp", alt="")
										.types__title Цифровые <br>межкомпонентные кабели
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-sw.webp 1x, img/cable-sw_2x.webp 2x")
												img(src="img/cable-sw.webp", alt="")
										.types__title Сабвуферные кабели
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-accoustic.webp 1x, img/cable-accoustic_2x.webp 2x")
												img(src="img/cable-accoustic.webp", alt="")
										.types__title Аккустические <br>кабели
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-power.webp 1x, img/cable-power_2x.webp 2x")
												img(src="img/cable-power.webp", alt="")
										.types__title Силовые кабели
								.types__col.swiper-slide
									a(href="#").types__card
										.types__img
											picture 
												source(srcset="img/cable-jacks.webp 1x, img/cable-jacks_2x.webp 2x")
												img(src="img/cable-jacks.webp", alt="")
										.types__title Разъемы
					//	/types

					// news
					section.news
						h2.title Новости
						#newsSlider.news__slider
							.row.swiper-wrapper
								.news__col.swiper-slide
									a(href="#").news__card 
										.news__img 
											picture 
												source(srcset="img/news-1.webp 1x, img/news-1_2x.webp 2x")
												img(src="img/news-1.webp", alt="")
											.news__sticker Новость
										.news__content 
											.news__title Цифровой высокоскоростной кабель Pro USB A-B IC
											.news__text В своём стремлении повысить качество жизни, они забывают
											.news__date 13 сентября 2021
								.news__col.swiper-slide 
									a(href="#").news__card 
										.news__img 
											picture 
												source(srcset="img/news-2.webp 1x, img/news-2_2x.webp 2x")
												img(src="img/news-2.webp", alt="")
											.news__sticker Новость
										.news__content 
											.news__title Цифровой высокоскоростной кабель Pro USB A-B IC
											.news__text В своём стремлении повысить качество жизни, они забывают
											.news__date 13 сентября 2021
								.news__col.swiper-slide 
									a(href="#").news__card 
										.news__img 
											picture 
												source(srcset="img/news-3.webp 1x, img/news-3_2x.webp 2x")
												img(src="img/news-3.webp", alt="")
											.news__sticker Пресс-релиз
										.news__content 
											.news__title Высокоскоростной кабель для цифрового оборудования 
											.news__text В своём стремлении повысить качество жизни, они забывают
											.news__date 10 сентября 2021
								.news__col.swiper-slide 
									a(href="#").news__card 
										.news__img 
											picture 
												source(srcset="img/news-4.webp 1x, img/news-4_2x.webp 2x")
												img(src="img/news-4.webp", alt="")
											.news__sticker Новость
										.news__content 
											.news__title Основной функциональный симметричный кабель 
											.news__text В своём стремлении повысить качество жизни, они забывают
											.news__date 29 августа 2021
					//	/news
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/swiper-bundle.min.js") 