.description {
  margin-bottom: 30px;
  &__text {
    margin-bottom: 30px;
  }
  &__slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .swiper-slide {
    padding-left: 20px;
  }
  &__item {
    border: 1px solid #E3E4E7;
  }
  &__img {

  }
  &__btn {
    width: 60px;
    height: 60px;
    background: rgba(51, 51, 51, 0.5);
    transition: 0.2s;
    &--prev {
      left: 40px;
    }
    &--next {
      right: 20px;
    }
    &:after {
      display: none;
    }
    &:hover {
      background: rgba(102, 102, 102, 0.5);
    }
  }
  &__pagination {
    position: static;
    margin-bottom: 30px;
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: 2px solid #828282;
      margin: 0 8px;
      background: transparent;
      opacity: 1;
      &-active {
        background-color: #828282;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__text {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $break_xs) {
    margin-bottom: 20px;
    &__slider {
      overflow: visible;
    }
    &__btn {
      display: none;
    }
  }
}