.lines {
  margin-bottom: 30px;
  &--last {
    margin-bottom: 120px;
  }
  &__text {
    max-width: 740px;
    margin-bottom: 30px;
  }
  &__col {
    @include col(4);
    margin-bottom: $gutter;
  }
  &__card {
    display: block;
    height: 240px;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    position: relative;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__title {
    max-width: 90%;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    &--small {
      font-size: 16px;
      letter-spacing: 0;
    }
  }
  @media (min-width: $break_sm + 1) {
    .row {
      width: auto;
    }
    &__card {
      transition: 0.5s;
      &:hover {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
      }
    }
  }
  @media (max-width: $break_sm) {
    margin-bottom: 40px;
    &--last {
      margin-bottom: 80px;
    }
    .row {
      flex-wrap: nowrap;
      margin-left: -20px;
    }
    &__col {
      padding-left: 20px;
      margin-bottom: 0;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}