.menu {
	position: relative;
	&__nav {
		transition: .5s;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			
		}
		a {
			display: block;
			margin: 0 10px 15px;
			font-size: 14px;
			color: #9C9C9C;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			&:hover {
				color: #fff;
			}
		}
	}
	&__btn {
		display: none;
	}
	&__child {
		position: relative;
		&:hover {
			> a {
				color: #fff;
			}
			.menu__drop {
				transform: translate(0,0);
      	opacity: 1;
				visibility: visible;
			}
		}
	}
	&__drop {
		display: flex;
    background: #202020;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transform: translate(0, 20px);
    opacity: 0;
    transition: 0.5s;
		visibility: hidden;
	}
	&__sublist {
		padding: 10px 20px;
		height: 100%;
		li {
			margin: 7px 0;
		}
		a {
			display: inline-block;
			margin: 0;
			padding: 3px 10px;
			white-space: nowrap;
			&:hover {
				background-color: #333;
				color: #9C9C9C;
			}
		}
		&--lines {
			border-left: 1px solid #333;
		}
	}
	&__title {
		padding: 3px 10px;
		font-size: 16px;
		color: #fff;
	}
	@media (max-width: $break_md) {
		&__nav {
			width: 100%;
			max-width: 600px;
			padding: 20px;
			background-color: #fff;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;
		}
		&__list {
			display: block;
			li {

			}
			a {
				margin: 0;
			}
		}
		&__btn {
			display: inline-block;
			padding-right: 0;
			.hamburger-box {
				display: block;
			}
		}

		&--left {
			.menu__nav {
				left: -800px;
			}
			&.open {
				.menu__nav {
					left: 0;
				}
			}
		}
		&--right {
			.menu__nav {
				right: -800px;
			}
			&.open {
				.menu__nav {
					right: 0;
				}
			}
		}
	}
}