.search {
  position: relative;
  padding-bottom: 15px;
  &__icon {
    cursor: pointer;
    svg {
      display: block;
      circle {
        stroke: #9C9C9C;
        transition: 0.2s;
      }
      rect {
        fill: #9C9C9C;
        transition: 0.2s;
      }
    }
    &:hover,&.active {
      svg {
        circle {
          stroke: #fff;
        }
        rect {
          fill: #fff;
        }
      }
    }
  }
  &__drop {
    display: flex;
    width: 400px;
    padding: 20px;
    background: #202020;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transform: translate(0, 20px);
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    &.open {
      transform: translate(0,0);
      opacity: 1;
      visibility: visible;
    }
  }
  &__input {
    height: 36px;
    flex-grow: 1;
    margin-right: 10px;
    input {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      background-color: #fff;
      border: none;
      outline: none;
    }
  }
  &__btn {
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    background: #BDBDBD;
    border-radius: 3px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: lighten(#BDBDBD, 10%);
    }
  }
  @media (max-width: $break_md) {
    padding-bottom: 0;
    &__icon {
      padding: 30px 0;
      padding-right: 12px;
      svg {
        circle {
          stroke: #fff;
        }
        rect {
          fill: #fff;
        }
      }
    }
  }
  @media (max-width: $break_xs) {
    position: static;
    &__icon {
      padding: 0;
      padding-right: 12px;
    }
    &__drop {
      width: 100%;
    }
  }
}